<div id="menu" class="menu-home">
  <div class="menu-inner">
    <a class="menu-logo-clickable" href="/">
      <div class="menu-big-site-name">MapMap</div>
    </a>

    <nav id="menu-pages">
      <ul>
        <li><a href="/explore">Explore Maps</a></li>
        <li><a href="/create">Create Map</a></li>
      </ul>
    </nav>

    <div class="menu-user">
      <% if (user) { %>
        <span class="user-greeting">Logged in as <b>
            <%= user.name %>
          </b></span>
        <form method="POST" action="/logout" style="display:inline;">
          <button type="submit" class="btn btn-primary logout-btn">Logout</button>
        </form>
        <% } else { %>
          <a href="/users" class="btn btn-primary login-btn">Login</a>
          <% } %>
    </div>
  </div>
</div>