<!-- views/partials/header.ejs -->
<div id="menu" class="menu-home">
  <div class="menu-inner">
    <a class="menu-logo-clickable" href="/">
      <div class="menu-big-site-name">MapMap</div>
    </a>

    <div class="menu-right">
      <nav id="menu-pages">
        <ul>
          <li><a href="/explore">Explore Maps</a></li>
          <li><a href="/create">Create Map</a></li>
          <li><a href="/users">My Profile</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
