<!DOCTYPE html>
<html>

<head>
  <title>Create Marker</title>
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap" async defer></script>
  <style>
    #map {
      height: 500px;
      width: 100%;
    }
  </style>
</head>

<body>
  <h1>Add a Marker to <%= mapId %>
  </h1>
  <div id="map"></div>
</body>

</html>