<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="google" content="notranslate" />
  <title>Create maps</title>
  <meta name="description" content="MapMap lets you do fun stuff with maps." />
  <meta name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />

  <!-- MapMap CSS -->
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/create.css" type="text/css" />

  <!-- Optional Analytics or Scripts -->
  <!-- <script defer data-domain="localhost" src="http://localhost:8080/"></script> -->
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
  <script defer src="/scripts/create_map.js"></script>
</head>

<body>

  <h1>Choose Your Options</h1>
  <div class="options">
    <div class="toronto">
      <div id="map1"></div>
      <p>Toronto</p>
    </div>
    <div class="new-york">
      <div id="map2"></div>
      <p>New York</p>
    </div>
    <div class="london">
      <div id="map3"></div>
      <p>London</p>
    </div>
  </div>

  <button type="submit">Submit</button>

</body>

</html>