<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="google" content="notranslate" />
  <title>MapMap login</title>
  <meta name="description" content="MapMap lets you do fun stuff with maps." />
  <meta name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />

  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" />
</head>

<body>
  <%- include('partials/header') %>

    <div class="login">
      <h1>Login to MapMap</h1>
      <form method="POST" action="/users">
        <label for="user_id">Select your user:</label>
        <select name="user_id" id="user_id" required>
          <% users.forEach(user=> { %>
            <option value="<%= user.id %>">
              <%= user.name %> (<%= user.email %>)
            </option>
            <% }) %>
        </select>
        <input type="submit" value="Login" />
      </form>
    </div>
</body>

</html>